<p>company works!</p>
<h1>Company Details</h1>
<br>
<div class="container-fluid">
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput">Company Name</label>
        <input type="text" class="form-control" id="cmpname" placeholder="Company Name">
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput2">Password</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div><div class="form-group col-md-2"></div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="formGroupExampleInput3">Company CEO</label>
        <input type="text" class="form-control" id="cceo" placeholder="Company CEO">
    </div>
    <div class="form-group col-md-6">
        <label for="formGroupExampleInput4">Company TurnOver</label>
        <input type="text" class="form-control" id="cmptr" placeholder="> 10Cr">
      </div></div><div class="form-group col-md-2"></div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput5">Company Website</label>
        <input type="text" class="form-control" id="cweb" placeholder="Company URL">
      </div>
      <div class="form-group col-md-6">
        <label for="formGroupExampleInput6">Stock Exchange</label>
        <input type="text" class="form-control" id="stex" placeholder="BSE, NSE etc..">
      </div>
      <div class="form-group col-md-2">
       
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          All the information are correct best of my knowledge.
        </label>
      </div>
    </div>
    <div class="form-group col-md-2"></div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div><div class="form-group col-md-2"></div> <br>