<p>stock works!</p>
<h1>StockDetails</h1>
<div class="container-fluid">
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <td>id</td>
                    <td>Company Code</td>
                    <td>Company Name</td>
                    <td>Opening Date</td>
                    <td>Closing Date</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td style="align-items:center;">Capgemini </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="align-items:center;">TCS </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br><br>
<h2>StockHolder</h2>
<div class="container-fluid">
    <div class="container">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <td>id</td>
                    <td>First Name</td>
                    <td>Last Name</td>
                    <td>User Mailid</td>
                    <td>Company Name</td>
                    <td>Stock Price</td>
                    <td>Date and Time</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Devanshi </td>
                    <td>Joshi</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td style="align-items:center;"> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>